@import '../foundation/all';

.btn-primary {
  background-color: $primary;
  color: $white;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-secondary {
  background-color: $secondary;
  color: $white;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-warning {
  background-color: $warning;
  color: $white;
  padding: 10px 20px;
  border-radius: 5px;
}
